[submodule ".config/awesome/lib/rubato"]
	path = .config/awesome/lib/rubato
	url = https://github.com/andOrlando/rubato
[submodule ".config/awesome/lib/bling"]
	path = .config/awesome/lib/bling
	url = https://github.com/blingcorp/bling
[submodule ".config/awesome/awesome-leaved"]
	path = .config/awesome/awesome-leaved
	url = https://github.com/michaelbeaumont/awesome-leaved
[submodule ".doom.d/lisp/screenshot"]
	path = .doom.d/lisp/screenshot
	url = https://github.com/tecosaur/screenshot
[submodule ".doom.d/lisp/engrave-faces"]
	path = .doom.d/lisp/screenshot
	url = https://github.com/tecosaur/engrave-faces
[submodule ".doom.d/lisp/posframe"]
	path = .doom.d/lisp/posframe
	url = https://github.com/tumashu/posframe
[submodule ".doom.d/lisp/smudge"]
  path = .doom.d/lisp/smudge
  url = https://github.com/danielfm/smudge
