[user]
	name = ybenel
	email = ybenel@molero.xyz
[credential]
	helper = cache --timeout=3600
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[http]
	version = HTTP/2
[core]
	compression = 0
	editor = emacsclient -r
[init]
	defaultBranch = master
