/* Xterm Configuration */
! https://invisible-island.net/xterm/xterm.faq.html
Xft.dpi: 92 
Xft.antialias: true 
Xft.hinting: true 
Xft.rgba: rgb 
Xft.autohint: true 
Xft.hintstyle: hintfull 
Xft.lcdfilter: lcdfilter

## Set Cursor
Xcursor.theme: macOSBigSur
Xcursor.size: 24


XTerm.termName: xterm-256color
XTerm*renderFont: true
XTerm*faceName: Cascadia Code 
xterm*faceSize: 8 
! VT Font Menu: Unreadable
xterm*faceSize1: 8
! VT font menu: Tiny
xterm*faceSize2: 10
! VT font menu: Medium
xterm*faceSize3: 12
! VT font menu: Large
xterm*faceSize4: 16
! VT font menu: Huge
xterm*faceSize5: 22

! BackGround Color #161925

! UTF-8
xterm.vt100.locale: true

! pointer and cursor (blinking and color)
xterm*pointerColor: white
xterm*pointerColorBackground: black
!xterm*cursorColor: #bbc5ff
xterm*cursorColor: #bbf0ff
xterm*cursorBlink: true
xterm*bellIsUrgent: true
! Smooth Scroll
!scrollInput: on
multiScroll: on
scrollKey: off

! Only select text
xterm*highlightSelection: true
! Remove trailing spaces
xterm*trimSelection: true

! Lines of output that you can scroll back over
xterm*saveLines: 10000

! Do not scroll when there is new input e.g. tail -f /var/syslog
xterm*scrollTtyOutput: false

! KeyBindings

xterm.vt100.translations: #override \n\
  Meta Shift <Key>j: smaller-vt-font() \n\
  Meta Shift <Key>k: larger-vt-font() \n\
  Meta <Key> 0: set-vt-font(d) \n\
  Meta <Key>C: copy-selection(CLIPBOARD) \n\
  Meta <Key>V: insert-selection(CLIPBOARD) \n\
  Shift <Btn1Up>: exec-formatted("xdg-open '%t'", PRIMARY) \n\
  <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0) \n\
  <Btn2Up>: insert-selection(PRIMARY) \n\
  Meta <Key>U: scroll-back(5,line,m)        \n\
  Meta <Key>D: scroll-forw(5,line,m)        \n\
  Shift <KeyPress> Prior:scroll-back(1,halfpage) \n\
  Shift <KeyPress> Next:scroll-forw(1,halfpage) \n\
  Meta Shift <Key>Up: larger-vt-font() \n\
  Meta Shift <Key>Down: smaller-vt-font() \n\

! enable copy/paste hotkey to work (shift+insert = paste ; mouse highlight = copy)
xterm*selectToClipboard: true
! disable fullscreen hotkey alt+enter
xterm*fullscreen: false
! enable alt key to work
xterm*metaSendsEscape: true
! Fix the backspace key (for Emacs)
xterm.vt100.backarrowKey: false
xterm.ttyModes: erase ^?

! double-click to select whole URLs :D
xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

! Tips: Left and right selection (text selection using left button for beginning and right button for end)
! Tips: Triple Click ( 1 click = nothing, 2 click = select word, 3 click = select line )
xterm*on3Clicks: regex ([[:alpha:]]+://)?([[:alnum:]!#+,./=?@_~-]|(%[[:xdigit:]][[:xdigit:]]))+

!! Transparency (0-1) (simple terminal (st)):
! *.alpha: 0.4

!! Set a default font and font size as below:
! *.font: mononoki Nerd Font:size=8

!! Xscreensaver Options
xscreensaver.newLoginCommand: dm-tool switch-to-greeter
!xscreensaver.installColormap: True
!xscreensaver.pointerPollTime: 0:00:05
!xscreensaver.pointerHysteresis: 10
!xscreensaver.initialDelay: 0:00:00
!xscreensaver.windowCreationTimeout: 0:00:30
!xscreensaver.bourneShell: /bin/sh
XScreenSaver.Dialog.headingFont:        -*-dejavu sans-bold-r-*-*-*-160-*-*-*-*-*-*
XScreenSaver.Dialog.bodyFont:           -*-dejavu sans-bold-r-*-*-*-120-*-*-*-*-*-*
XScreenSaver.Dialog.labelFont:          -*-dejavu sans-bold-r-*-*-*-120-*-*-*-*-*-*
XScreenSaver.Dialog.unameFont:          -*-dejavu sans-bold-r-*-*-*-80-*-*-*-*-*-*
XScreenSaver.Dialog.buttonFont:         -*-dejavu sans-bold-r-*-*-*-120-*-*-*-*-*-*
XScreenSaver.Dialog.dateFont:           -*-dejavu sans-medium-r-*-*-*-80-*-*-*-*-*-*
XScreenSaver.Dialog.passwdFont:         -*-dejavu sans mono-medium-r-*-*-*-85-*-*-*-*-*-*

/* name		dark	light */
/* black	0	8 */
/* red		1	9 */
/* green	2	10 */
/* yellow	3	11 */
/* blue		4	12 */
/* purple	5	13 */
/* cyan		6	14 */
/* white	7	15 */

!! gruvbox: */
! *.color0: #1d2021
! *.color1: #cc241d
! *.color2: #98971a
! *.color3: #d79921
! *.color4: #458588
! *.color5: #b16286
! *.color6: #689d6a
! *.color7: #a89984
! *.color8: #928374
! *.color9: #fb4934
! *.color10: #b8bb26
! *.color11: #fabd2f
! *.color12: #83a598
! *.color13: #d3869b
! *.color14: #8ec07c
! *.color15: #ebdbb2
! *.color256: #1d2021
! *.color257: #ebdbb2

! *.background: .color5
! *.color256: 0#1d2021
! *.color257: 15#ebdbb2

!! gruvbox light: */
! *.color0: #fbf1c7
! *.color1: #cc241d
! *.color2: #98971a
! *.color3: #d79921
! *.color4: #458588
! *.color5: #b16286
! *.color6: #689d6a
! *.color7: #7c6f64
! *.color8: #928374
! *.color9: #9d0006
! *.color10: #79740e
! *.color11: #b57614
! *.color12: #076678
! *.color13: #8f3f71
! *.color14: #427b58
! *.color15: #3c3836
! *.background: #fbf1c7
! *.foreground: #282828

!! brogrammer:
! *.foreground:  #d6dbe5
! *.background:  #131313
! *.color0:      #1f1f1f
! *.color8:      #d6dbe5
! *.color1:      #f81118
! *.color9:      #de352e
! *.color2:      #2dc55e
! *.color10:     #1dd361
! *.color3:      #ecba0f
! *.color11:     #f3bd09
! *.color4:      #2a84d2
! *.color12:     #1081d6
! *.color5:      #4e5ab7
! *.color13:     #5350b9
! *.color6:      #1081d6
! *.color14:     #0f7ddb
! *.color7:      #d6dbe5
! *.color15:     #ffffff
! *.colorBD:     #d6dbe5

! special
! *.foreground:   #e1e6c2
! *.background:   #131313
! *.cursorColor:  #e1e6c2
! *.color0:       #000000
! *.color8:       #2e6cdd
! *.color1:       #10110c
! *.color9:       #2affe5
! *.color2:       #23241d
! *.color10:      #ff00ba
! *.color3:       #c5d901
! *.color11:      #ef915e
! *.color4:       #5b5d4d
! *.color12:      #6bccdf
! *.color5:       #82846e
! *.color13:      #50b58b
! *.color6:       #aeb195
! *.color14:      #ff009b
! *.color7:       #e1e6c2
! *.color15:      #00ff8a

! base16 */
! *.background:   #131313
! *.foreground:   #F8F8F2
! *.color0:       #181818
! *.color1:       #ab4642
! *.color2:       #a1b56c
! *.color3:       #f7ca88
! *.color4:       #7cafc2
! *.color5:       #ba8baf
! *.color6:       #86c1b9
! *.color7:       #d8d8d8
! *.color8:       #585858
! *.color9:       #ab4642
! *.color10:      #a1b56c
! *.color11:      #f7ca88
! *.color12:      #7cafc2
! *.color13:      #ba8baf
! *.color14:      #86c1b9
! *.color15:      #f8f8f8

! solarized */
! *.background: #131313
! *.foreground: #F8F8F2
! *.color0:	   #073642
! *.color1:	   #dc322f
! *.color2:	   #859900
! *.color3:	   #b58900
! *.color4:	   #268bd2
! *.color5:	   #d33682
! *.color6:	   #2aa198
! *.color7:	   #eee8d5
! *.color9:	   #cb4b16
! *.color8:	   #fdf6e3
! *.color10:    #586e75
! *.color11:	   #657b83
! *.color12:	   #839496
! *.color13:	   #6c71c4
! *.color14:	   #93a1a1
! *.color15:	   #fdf6e3

!! xterm */
*.background: #131313
*.foreground: #F8F8F2
*.color0:     #000000
*.color8:     #4d4d4d
*.color1:     #cd0000
*.color9:     #ff0000
*.color2:     #00cd00
*.color10:    #00ff00
*.color3:     #cdcd00
*.color11:    #ffff00
! *.color4:     #0000cd ! Original Color Schmee
! *.color12:    #0000ff
*.color4:     #BD93F9
*.color12:    #CAA9FA
! *.color5:     #cd00cd
! *.color13:    #ff00ff
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #00cdcd
*.color14:    #00ffff
*.color7:     #e5e5e5
*.color15:    #aabac8

! Dracula Xresources palette (Original) */
! *.foreground: #F8F8F2
! *.background: #282A36
! *.color0:     #000000
! *.color8:     #4D4D4D
! *.color1:     #FF5555
! *.color9:     #FF6E67
! *.color2:     #50FA7B
! *.color10:    #5AF78E
! *.color3:     #F1FA8C
! *.color11:    #F4F99D
! *.color4:     #BD93F9
! *.color12:    #CAA9FA
! *.color5:     #FF79C6
! *.color13:    #FF92D0
! *.color6:     #8BE9FD
! *.color14:    #9AEDFE
! *.color7:     #BFBFBF
! *.color15:    #E6E6E6


! Dracula Xresources palette (Dark) */
! *.foreground: #C0C0C0
! *.background: #101010
! *.color0:     #101010
! *.color8:     #454545
! *.color1:     #EFA6A2
! *.color9:     #E0AF85
! *.color2:     #80C990
! *.color10:    #5ACCAF
! *.color3:     #A69460
! *.color11:    #C8C874
! *.color4:     #A3B8EF
! *.color12:    #CCACED
! *.color5:     #E6A3DC
! *.color13:    #F2A1C2
! *.color6:     #50CACD
! *.color14:    #74C3E4
! *.color7:     #808080
! *.color15:    #C0C0C0


! Adventure Time */
! *.foreground:  #f8dcc0
! *.background:  #1f1d45
! *.cursorColor: #efbf38
! *.color0:      #050404
! *.color8:      #4e7cbf
! *.color1:      #bd0013
! *.color9:      #fc5f5a
! *.color2:      #4ab118
! *.color10:     #9eff6e
! *.color3:      #e7741e
! *.color11:     #efc11a
! *.color4:      #0f4ac6
! *.color12:     #1997c6
! *.color5:      #665993
! *.color13:     #9b5953
! *.color6:      #70a598
! *.color14:     #c8faf4
! *.color7:      #f8dcc0
! *.color15:     #f6f5fb
! *.colorBD:     #bd0013

! /* ! Argonaut */
! *.background:  #401D32
! *.background:  #0e1019
! *.foreground:  #fffaf4
! *.cursorColor: #ff0018
! *.color0:      #232323
! *.color8:      #444444
! *.color1:      #ff000f
! *.color9:      #ff2740
! *.color2:      #8ce10b
! *.color10:     #abe15b
! *.color3:      #ffb900
! *.color11:     #ffd242
! *.color4:      #008df8
! *.color12:     #0092ff
! *.color5:      #6d43a6
! *.color13:     #9a5feb
! *.color6:      #00d8eb
! *.color14:     #67fff0
! *.color7:      #ffffff
! *.color15:     #ffffff
! *.colorBD:     #9e9c9a


! special (dark background)
! *.foreground:   #ababab
! *.background:   #000000
! *.cursorColor:  #ababab
! *.color0:       #000000
! *.color8:       #343434
! *.color1:       #e92f2f
! *.color9:       #e92f2f
! *.color2:       #0ed839
! *.color10:      #0ed839
! *.color3:       #dddd13
! *.color11:      #dddd13
! *.color4:       #3b48e3
! *.color12:      #3b48e3
! *.color5:       #f996e2
! *.color13:      #f996e2
! *.color6:       #23edda
! *.color14:      #23edda
! *.color7:       #ababab
! *.color15:      #f9f9f9

! Gotham
! *.foreground:   #98d1ce
! *.background:   #0a0f14
! *.cursorColor:  #98d1ce
! *.color0:       #0a0f14
! *.color8:       #10151b
! *.color1:       #c33027
! *.color9:       #d26939
! *.color2:       #26a98b
! *.color10:      #081f2d
! *.color3:       #edb54b
! *.color11:      #245361
! *.color4:       #195465
! *.color12:      #093748
! *.color5:       #4e5165
! *.color13:      #888ba5
! *.color6:       #33859d
! *.color14:      #599caa
! *.color7:       #98d1ce
! *.color15:      #d3ebe9
