configuration {
	theme: "./themes/spotlight.rasi";
	modi: "drun,run";
	location: 2;
	fixed-num-lines: false;
	show-icons: true;
	icon-theme: "WhiteSur-purple-dark";
	display-window: "缾";
	display-run: "";
	display-drun: "";
    display-emoji: "";
}
